/*
Ho Minh Chung
1101718
*/
*{
	margin: 2px;
	padding:2px;
}
/*CSS FOR BODY*/
body{
	display:block;
	font-size:15px;
	font-family: Helvetica,sans-serif;
}
/*CSS FOR MENU*/
h2{
    color: #29549f;
	text-align: center;
}
h3{
	text-align: left;
}
p {
    text-align: justify;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-transform: none;
}