<!-- BEGIN CAROUSEL ITEM -->
<div class="the-box no-border">
    <h4 class="small-heading more-margin-bottom text-center">LAST WEEK POPULAR ITEM</h4>

    <div id="owl-popular" class="owl-carousel shop-carousel">
    <div class="item">
        <div class="media">
            <a class="pull-left" href="#fakelink">
                <img class="media-object sm" src="images/shop/img-shop-1.jpg" alt="Image">
            </a>

            <div class="media-body">
                <h4 class="media-heading"><a href="#fakelink">{{data[0].title}}</a></h4>

                <p class="brand">{{data[0].description}}</p>

                <p class="price text-danger"><strong>{{data[0].price | currency}}</strong></p>
            </div>
        </div>
    </div>
        <div class="item">
            <div class="media">
                <a class="pull-left" href="#fakelink">
                    <img class="media-object sm" src="images/shop/img-shop-1.jpg" alt="Image">
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="#fakelink">{{data[1].title}}</a></h4>

                    <p class="brand">{{data[1].description}}</p>

                    <p class="price text-danger"><strong>{{data[1].price | currency}}</strong></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="media">
                <a class="pull-left" href="#fakelink">
                    <img class="media-object sm" src="images/shop/img-shop-1.jpg" alt="Image">
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="#fakelink">{{data[2].title}}</a></h4>

                    <p class="brand">{{data[2].description}}</p>

                    <p class="price text-danger"><strong>{{data[2].price | currency}}</strong></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="media">
                <a class="pull-left" href="#fakelink">
                    <img class="media-object sm" src="images/shop/img-shop-1.jpg" alt="Image">
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="#fakelink">{{data[3].title}}</a></h4>

                    <p class="brand">{{data[3].description}}</p>

                    <p class="price text-danger"><strong>{{data[3].price | currency}}</strong></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="media">
                <a class="pull-left" href="#fakelink">
                    <img class="media-object sm" src="images/shop/img-shop-1.jpg" alt="Image">
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="#fakelink">{{data[4].title}}</a></h4>

                    <p class="brand">{{data[4].description}}</p>

                    <p class="price text-danger"><strong>{{data[4].price | currency}}</strong></p>
                </div>
            </div>
        </div>
    <!-- /.item -->
    <div class="item">
        <div class="media">
            <a class="pull-left" href="#fakelink">
                <img class="media-object sm" src="images/shop/img-shop-2.jpg" alt="Image">
            </a>

            <div class="media-body">
                <h4 class="media-heading"><a href="#fakelink">Product name here</a></h4>

                <p class="brand">BRAND NAME</p>

                <p class="price text-danger"><strong>&#36;50.00</strong></p>
            </div>
        </div>
    </div>
    <!-- /.item -->

    </div>
    <!-- /#store-item-carousel-1 -->
</div><!-- /.the-box .no-border -->
<!-- END CAROUSEL ITEM -->
