<div tabindex="5000" style="overflow: hidden;" class="sidebar-left sidebar-nicescroller">
    <ul class="sidebar-menu">

        <li><a href="index.html"><i class="fa fa-dashboard icon-sidebar"></i>Dashboard</a></li>

        <li ng-repeat="menu in menus">
            <span ng-if="menu.label == 'heading'" class="static">{{menu.title | uppercase}}</span>
            <a href="#fakelink" ng-if="menu.label != 'heading'">
                <span class="icon-sidebar fa fa-{{menu.icon}}"></span>
                <span class="fa fa-chevron-right chevron-icon-sidebar"></span>
                {{menu.title}}
                <span class="badge badge-warning span-sidebar" ng-show="{{menu.label == 'badge'}}">{{menu.submenu.length}}</span>
                <span class="label label-info span-sidebar" ng-show="{{menu.label == 'info'}}">BS3</span>
                <span class="label label-warning span-sidebar" ng-show="{{menu.label == 'hot'}}">HOT</span>
                <span class="label label-success span-sidebar" ng-show="{{menu.label == 'top'}}">TOP</span>
            </a>
        </li>

        <li class="static">SYSTEM SETTING</li>
        <li sidebar-left-settings st-data="settings"></li>
    </ul>
</div>