.logo-brand{
    background: #34BC9B;
}
.top-nav-content{
    background: #34BC9B;
}
.top-navbar{

}
.sidebar-menu{
}

.btn-collapse-sidebar-right, .btn-collapse-sidebar-left, .dropdown-toggle{
    color: white !important;
}

