.logo-brand{
    background: #E7573E;
}
.top-nav-content{
    background: #E7573E;
}
.top-navbar{

}
.sidebar-left{
}

.btn-collapse-sidebar-right, .btn-collapse-sidebar-left, .dropdown-toggle{
    color: white !important;
}

