.logo-brand{
    background: #3EAFDB;
}
.top-nav-content{
    background: #3EAFDB;
}
.top-navbar{

}

.btn-collapse-sidebar-right, .btn-collapse-sidebar-left, .dropdown-toggle{
    color: white !important;
}

