.logo-brand{
    background: #242A34;
}
.top-nav-content{
    background: #ffffff;
}
.top-navbar{

}
.sidebar-left{
    background: #ffffff;
}
.dropdown-toggle{

}
.btn-collapse-sidebar-right{

}
ul.sidebar-menu li ul.submenu {
    color: #656D78;
    background-color: #F6F7F9;
    border-bottom-color: #F6F7F9;
}

.sidebar-left-content{
    color: #656D78 !important;
    border-bottom-color: #F6F7F9 !important;
}
