.logo-brand{
    background: #E7573E !important;
}
.top-nav-content{
    background: #ffffff !important;
}
.top-navbar{

}
.sidebar-left{
    background: #E7573E !important;
}
ul.sidebar-menu li ul.submenu {
    color: #656D78;
    background-color: #F6F7F9;
    border-bottom-color: #F6F7F9;
}

.sidebar-left-content{
    color: #FFC6BD !important;
    border-bottom-color: #D44732 !important;
}
