.logo-brand{
    background: #3EAFDB;
}
.top-nav-content{
    background: #3EAFDB;
}
.top-navbar{

}
.sidebar-left{
    background: #3EAFDB;
}
ul.sidebar-menu li ul.submenu {
    color: #fff;
    background-color: #2A9CC8;
    border-bottom-color: #2A9CC8;
}
ul.sidebar-menu li ul.submenu li a{
    color: #fff !important;
}
.btn-collapse-sidebar-right, .btn-collapse-sidebar-left, .dropdown-toggle{
    color: white !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #37BC9B !important;
}
.sidebar-left-content{
    color: #BAEAFF !important;
    border-bottom-color: #2A9CC8 !important;
}
